.App {
  text-align: center;
}

.app_form{
  padding: 10px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: rgba(235, 235, 235, 0.9);
  border: solid rgb(24, 96, 189) 1px;
  width: 95%;
  margin: 0 2rem;
  border-radius: 50px;
}