.message{
    padding: -20px;
    margin: 10px;
    width: fit-content;
    text-align: left;
}

.message .body{
    font-weight: 700;
    font-size: 1rem;
}

.message_guestCard .body{
    color: black;
}

.head{
    color: grey;
    font-weight: 600;
    font-size: 0.8rem;
}

.message_user{
    margin-left: auto;
    color: "white";
    text-align: "left";
}

.message_userCard{
    background-color: rgb(9, 72, 154) !important;
    color: white !important;
}

.message_guestCard{
    background-color: lightgray !important;
    color: black !important;
}
